.Carousel {
	width: 97%;
	height: auto;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.Carousel_Image {
	border-radius: 5px;
	width: 100%;
	height: auto;
}
