.InvertMainOuterDiv {
	display: flex;
	flex-direction: row;
	margin: auto;
}
.InvertCarousel_outerDiv {
	width: 100%;
	align-items: center;
	margin: auto;
	padding: 3rem;
}
.InvertCarousel {
	width: 100%;
	height: auto;
	align-items: center;
	display: block;
	margin: 10 auto;
}
.InvertCarousel_Image {
	width: 100%;
	height: auto;
	margin-right: 2px;
	padding: 10px;
	object-fit: fill;
}
