@import '../../theme/colors.scss';

div {
	:any-link {
		color: $whiteSmoke;
		margin-right: 30px;
	}
}
Navbar {
	color: $whiteSmoke;
}

.navbarLandPage {
	color: $whiteSmoke;
	background-image: repeating-linear-gradient(
		to right,
		$trustBlue,
		$electricBlue,
		$trustBlue,
		$cyanSky,
		$electricBlue
	);
	position: sticky;
	top: 0;
	width: 100%;
	height: 10vh;
	margin: 0 auto;
	margin-bottom: 1rem;
}
a:link {
	color: white;
	text-decoration: none;
}
