$cyanBlue: #03a9f4;
$cyanSky: #00b3bb;
$whiteSmoke: #f5f5f5;
$electricBlue: #7ff1fe;
$trustBlue: #0c0c83;
$snowWhite: #fffafa;
$lightGrey: #d3d3d3;
$black: #000;
$TropicalLagoon: #21a1b3;
$offwhite: rgb(226, 222, 222);
$white: #fff;
$WhiteSmoke: #f5f5f5;
$zircon: #e7ebeb;
$whisper: rgba(238, 238, 238, 0.125);
$eclipse: rgba(59, 58, 58, 0.2);
$alice-blue: #ecf0f3;
$linkwater: #cbced1;
$grey: #555;
$alpha-grey: #ebe9e9;
$deepSkyBlue: #03a9f4;
$darkGrey: #efe9e9;
$pacificBlue: #039be5;
$black: #000;
$off-white: #ededed;
$smoky-white: #eee;
$sea-green: seagreen;
$light-gray: rgb(226, 222, 222);
$dark-light-blue: linear-gradient(to right, #242462, #7ff1fe, #242462);
$grey: #5f5f5f;
$light-grey: #a7aaa7;
$royal-Lavender: #7851a9;
