.Cards_outerDiv {
	padding: 0%;
	display: flex;
	flex-direction: 'row';
	justify-content: center;
	margin: auto;
	margin-bottom: 5px;
}

.card_Images {
	border: 0;
	margin: auto;
	align-items: center;
	padding-left: 10px;
}
