@import '../../theme/colors.scss';
.footer {
	border: 5px;
	width: 100%;
	height: 10vh;
	background-image: repeating-linear-gradient(to right, $electricBlue, $cyanSky, $royal-Lavender);
	position: relative;
	left: 0;
	top: 100vh;
	bottom: 0;
}
