@import '../../theme/colors.scss';
.footer {
	min-width: 100vw;
	min-height: 10vh;
	background-image: repeating-linear-gradient(to right, $electricBlue, $cyanSky);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	bottom: 0;
}
